@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");

:root {
    --main-white-color: #f2f2f2;
    --main-black-color: black;
    --main-purple-color: #9e89b8;
  }

* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

button {
    background: none;
    outline: none;
    cursor: pointer;
  }

ul {
list-style: none;
}

a {
text-decoration: none;
color: inherit;
}

body {
font: 16px/1.5 "Dosis", sans-serif;
/*IE FIX*/
/*display: flex;
flex-direction: column;*/
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper>* {
    padding: 20px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.page-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-height: 350px;
    background: var(--main-purple-color) url(/static/images/lionfish.jpg) no-repeat center / cover;
    background-blend-mode: luminosity;
    color: var(--main-white-color);
}

.page-main div {
    max-width: 500px;
}

.page-main h1 {
margin-bottom: 20px;
}

.page-main p + p {
margin-top: 10px;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {
    .page-header ul {
      width: auto;
      margin-top: 0;
    }

    .page-header .cta-contact {
      order: 1;
    }

    .page-footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .page-footer ul {
      margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    .page-main {
        padding-left: 90px;
    }
}
